altgraph==0.17.4
astroid==3.3.8
autopep8==2.3.1
click==8.1.8
colorama==0.4.6
dill==0.3.9
flake8==7.1.1
isort==5.13.2
libcst==1.5.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
ordered-set==4.1.0
packaging==24.2
pathspec==0.12.1
pefile==2023.2.7
platformdirs==4.3.6
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
pylint==3.3.3
pywin32-ctypes==0.2.3
PyYAML==6.0.2
rich==13.9.4
setuptools==75.8.0
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
zstandard==0.23.0
